a:hover {
    cursor: pointer;
}

body.admin-body {
    color: rgb(112, 112, 112);
}

.upperRightButton {
    position: absolute;
    right: 40px;
    top: 20px;
}

.upperRightButton button, body.admin-body a.btn.active {
    background-color: #1c2957;
    color: rgb(224, 224, 224);
    font-size: 16px;
    padding: 4px 10px;
}

body.admin-body a.btn {
    background-color: rgb(244, 244, 244);
    color: rgb(112, 112, 112);
    font-size: 16px;
    padding: 4px 10px;
}
li.page-item.active>a.page-link {
    background-color: #1c2957;
}

.admin-page {
    margin-top: 10px;
}

.admin-page .admin-header {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
    position: relative;
}

.admin-header > .addButton {
    position: absolute;
    right: 35px;
    top: 5px;
}

.admin-header > .addButton > a.btn {
    background-color: #1c2957;
    color: rgb(224, 224, 224);
}


.admin-content .left-navbar .left-navbar-menu {
    border-right: 1px solid #e2e2e2;
    padding: 0px 10px 10px 5px;
}

.admin-content .left-navbar .left-navbar-menu li {
    margin-bottom: 10px;
}

.admin-content .left-navbar .left-navbar-menu a {
    width: 90%;
    text-align: left;
}

.right-content-ul > li {
    font-size: 16px;
    padding: 15px;
    width: 95%;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    background-color: rgb(244, 244, 244);
    margin-bottom: 15px;
    position: relative;
}

.function-div{
    width: 100px;
    background-color: rgb(244, 244, 244);
    position: absolute;
    right: -80px;
    top: 45px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    z-index: 2;
    display: none;

}
.function-div > div {
    padding-left: 25px;
}
.function-div > div > a{
    padding: 5px;
    color: rgb(112,112,112);
}
.edit {
    border-bottom: 1px solid #e2e2e2;
}

.pull-right.pagination {
    margin-right: 35px;
}

.right-content-ul button {
    background-color: rgb(244, 244, 244);
    font-size: 18px;
    padding-bottom: 0;
}

.form-horizontal .control-label {
    text-align: left;
}

.form-header {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
}
